# Environments
.env
.env.*
.env.local

# Node & Frontend
node_modules/
dist/
dist-ssr/
.eslintcache
*.local

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/ and lib64/ removed to allow frontend/src/lib
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini
